# Sorting

In [1]:
import pandas as pd
df = pd.read_excel("SalesReport1.xlsx")
df

           Product Customer    Qtr 1  Qtr 2   Qtr 3    Qtr 4
0     Alice Mutton    ANTON     0.00  702.0    0.00     0.00
1     Alice Mutton    BERGS   312.00    0.0    0.00     0.00
2     Alice Mutton    BOLID     0.00    0.0    0.00  1170.00
3     Alice Mutton    BOTTM  1170.00    0.0    0.00     0.00
4     Alice Mutton    ERNSH  1123.20    0.0    0.00  2607.15
..             ...      ...      ...    ...     ...      ...
272  Veggie-spread    FOLIG     0.00    0.0    0.00  1317.00
273  Veggie-spread    HUNGO   921.37    0.0    0.00     0.00
274  Veggie-spread    MORGK     0.00  263.4    0.00     0.00
275  Veggie-spread    PICCO     0.00    0.0    0.00   395.10
276  Veggie-spread    WHITC     0.00    0.0  842.88     0.00

[277 rows x 6 columns]

In [2]:
# sorting data in ascending order by "Customer" name

df.sort_values(by=["Customer"], ascending = True).head(n = 10)

                       Product Customer  Qtr 1   Qtr 2  Qtr 3  Qtr 4
13               Aniseed Syrup    ALFKI    0.0    0.00    0.0   60.0
270              Veggie-spread    ALFKI    0.0    0.00    0.0  878.0
37           Camembert Pierrot    ANATR    0.0    0.00  340.0    0.0
0                 Alice Mutton    ANTON    0.0  702.00    0.0    0.0
189             Ravioli Angelo    ANTON    0.0   87.75    0.0    0.0
197              Sasquatch Ale    ANTON    0.0  560.00    0.0    0.0
162  Louisiana Hot Spiced Okra    ANTON    0.0    0.00   68.0    0.0
108                Ipoh Coffee    ANTON    0.0  586.50    0.0    0.0
19            Boston Crab Meat    ANTON    0.0  165.60    0.0    0.0
190             Ravioli Angelo    AROUT    0.0    0.00    0.0  780.0

In [3]:
# sorting by "Qtr 1" and "Qtr 2" in ascending and descending order respectively.
# firstly, it will start sorting by "Qtr 1", the output of this will be sorted by "Qtr 2".

df.sort_values(by=["Qtr 1","Qtr 2"], ascending = [True,False]).head(n=10)

                             Product Customer  Qtr 1   Qtr 2   Qtr 3  Qtr 4
203           Sir Rodney's Marmalade    ERNSH    0.0  3159.0     0.0    0.0
109                      Ipoh Coffee    BERGS    0.0  2760.0     0.0    0.0
50                 Camembert Pierrot    QUICK    0.0  2427.6  1776.5    0.0
7                       Alice Mutton    PICCO    0.0  1560.0   936.0    0.0
261  Uncle Bob's Organic Dried Pears    BONAP    0.0  1275.0     0.0    0.0
114                      Ipoh Coffee    PICCO    0.0  1150.0     0.0    0.0
206           Sir Rodney's Marmalade    SEVES    0.0  1093.5     0.0    0.0
59      Chef Anton's Cajun Seasoning    FOLKO    0.0  1045.0     0.0    0.0
178           Mozzarella di Giovanni    MORGK    0.0  1044.0     0.0    0.0
63      Chef Anton's Cajun Seasoning    QUICK    0.0   990.0     0.0    0.0

# Conditionally adding columns

In [4]:
# we are adding one column which is "spend", on the basis of condition,
# if "Qtr 2" value is more than 1000 then add it as "More spend", 
# else "Less spend"

import numpy as np
df["spend"] = np.where(df["Qtr 2"]>1000, "More spend", "Less spend")

In [5]:
df.tail(n=20)

,Product,Customer,Qtr 1,Qtr 2,Qtr 3,Qtr 4,spend
257,Teatime Chocolate Biscuits,TORTU,0.00,0.0,64.40,0.00,Less spend
258,Teatime Chocolate Biscuits,WANDK,0.00,0.0,82.80,0.00,Less spend
259,Teatime Chocolate Biscuits,WARTH,146.00,0.0,0.00,0.00,Less spend
260,Teatime Chocolate Biscuits,WELLI,0.00,0.0,0.00,209.76,Less spend
261,Uncle Bob's Organic Dried Pears,BONAP,0.00,1275.0,0.00,0.00,More spend
262,Uncle Bob's Organic Dried Pears,BSBEV,720.00,0.0,0.00,0.00,Less spend
263,Uncle Bob's Organic Dried Pears,FOLIG,0.00,0.0,1050.00,0.00,Less spend
264,Uncle Bob's Organic Dried Pears,GOURL,0.00,0.0,0.00,76.50,Less spend
265,Uncle Bob's Organic Dried Pears,OTTIK,0.00,0.0,0.00,1050.00,Less spend
266,Uncle Bob's Organic Dried Pears,QUICK,0.00,0.0,0.00,2700.00,Less spend
267,Uncle Bob's Organic Dried Pears,SAVEA,0.00,0.0,1350.00,0.00,Less spend
268,Uncle Bob's Organic Dried Pears,VAFFE,0.00,0.0,300.00,0.00,Less spend
269,Uncle Bob's Organic Dried Pears,VICTE,364.80,300.0,0.00,0.00,Less spend
270,Veggie-spread,ALFKI,0.00,0.0,0.00,878.00,Less spend
271,Veggie-spread,ERNSH,2281.50,0.0,0.00,0.00,Less spend
272,Veggie-spread,FOLIG,0.00,0.0,0.00,1317.00,Less spend
273,Veggie-spread,HUNGO,921.37,0.0,0.00,0.00,Less spend
274,Veggie-spread,MORGK,0.00,263.4,0.00,0.00,Less spend
275,Veggie-spread,PICCO,0.00,0.0,0.00,395.10,Less spend
276,Veggie-spread,WHITC,0.00,0.0,842.88,0.00,Less spend

In [6]:
# we are adding one more column which is "spend_X", on the basis of condition,

# if "Qtr 2" value is more than 1500 then add it as "More spend",
# else, check if it is less than 1000 add it as "Less spend",
# else, add it as "Medium spend"

df["spend_X"] = np.where(df["Qtr 4"]>1500, "More spend",(np.where(df["Qtr 4"]<1000,"Less spend","Medium spend")))

In [7]:
df.tail(n = 20)

,Product,Customer,Qtr 1,Qtr 2,Qtr 3,Qtr 4,spend,spend_X
257,Teatime Chocolate Biscuits,TORTU,0.00,0.0,64.40,0.00,Less spend,Less spend
258,Teatime Chocolate Biscuits,WANDK,0.00,0.0,82.80,0.00,Less spend,Less spend
259,Teatime Chocolate Biscuits,WARTH,146.00,0.0,0.00,0.00,Less spend,Less spend
260,Teatime Chocolate Biscuits,WELLI,0.00,0.0,0.00,209.76,Less spend,Less spend
261,Uncle Bob's Organic Dried Pears,BONAP,0.00,1275.0,0.00,0.00,More spend,Less spend
262,Uncle Bob's Organic Dried Pears,BSBEV,720.00,0.0,0.00,0.00,Less spend,Less spend
263,Uncle Bob's Organic Dried Pears,FOLIG,0.00,0.0,1050.00,0.00,Less spend,Less spend
264,Uncle Bob's Organic Dried Pears,GOURL,0.00,0.0,0.00,76.50,Less spend,Less spend
265,Uncle Bob's Organic Dried Pears,OTTIK,0.00,0.0,0.00,1050.00,Less spend,Medium spend
266,Uncle Bob's Organic Dried Pears,QUICK,0.00,0.0,0.00,2700.00,Less spend,More spend
267,Uncle Bob's Organic Dried Pears,SAVEA,0.00,0.0,1350.00,0.00,Less spend,Less spend
268,Uncle Bob's Organic Dried Pears,VAFFE,0.00,0.0,300.00,0.00,Less spend,Less spend
269,Uncle Bob's Organic Dried Pears,VICTE,364.80,300.0,0.00,0.00,Less spend,Less spend
270,Veggie-spread,ALFKI,0.00,0.0,0.00,878.00,Less spend,Less spend
271,Veggie-spread,ERNSH,2281.50,0.0,0.00,0.00,Less spend,Less spend
272,Veggie-spread,FOLIG,0.00,0.0,0.00,1317.00,Less spend,Medium spend
273,Veggie-spread,HUNGO,921.37,0.0,0.00,0.00,Less spend,Less spend
274,Veggie-spread,MORGK,0.00,263.4,0.00,0.00,Less spend,Less spend
275,Veggie-spread,PICCO,0.00,0.0,0.00,395.10,Less spend,Less spend
276,Veggie-spread,WHITC,0.00,0.0,842.88,0.00,Less spend,Less spend

In [8]:
# np array example

df["Year"] = np.array(2019)

In [9]:
df

,Product,Customer,Qtr 1,Qtr 2,Qtr 3,Qtr 4,spend,spend_X,Year
0,Alice Mutton,ANTON,0.00,702.0,0.00,0.00,Less spend,Less spend,2019
1,Alice Mutton,BERGS,312.00,0.0,0.00,0.00,Less spend,Less spend,2019
2,Alice Mutton,BOLID,0.00,0.0,0.00,1170.00,Less spend,Medium spend,2019
3,Alice Mutton,BOTTM,1170.00,0.0,0.00,0.00,Less spend,Less spend,2019
4,Alice Mutton,ERNSH,1123.20,0.0,0.00,2607.15,Less spend,More spend,2019
...,...,...,...,...,...,...,...,...,...
272,Veggie-spread,FOLIG,0.00,0.0,0.00,1317.00,Less spend,Medium spend,2019
273,Veggie-spread,HUNGO,921.37,0.0,0.00,0.00,Less spend,Less spend,2019
274,Veggie-spread,MORGK,0.00,263.4,0.00,0.00,Less spend,Less spend,2019
275,Veggie-spread,PICCO,0.00,0.0,0.00,395.10,Less spend,Less spend,2019
276,Veggie-spread,WHITC,0.00,0.0,842.88,0.00,Less spend,Less spend,2019